*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #efefef;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1876f2;
    padding: 5px 5%;
    position: sticky;
    top: 0px;
    z-index: 100;
}
.logo{
    width: 160px;
    margin-right: 45px;
}
.nav-left, .nav-right{
    display: flex;
    align-items: center;
}
.nav-left ul li{
    list-style: none;
    display: inline-block;
}
.nav-left ul li img{
    width: 28px;
    margin: 0 15px;
}
/* From uiverse.io by @satyamchaudharydev */
/* this button is inspired by -- whatsapp input */
/* == type to see fully interactive and click the close buttom to remove the text  == */

.form {
    --input-bg: #FFf;
   /*  background of input */
    --padding: 1.5em;
    --rotate: 80deg;
   /*  rotation degree of input*/
    --gap: 2em;
    /*  gap of items in input */
    --icon-change-color: #15A986;
   /*  when rotating changed icon color */
    --height: 35px;
   /*  height */
    width: 200px;
    padding-inline-end: 1em;
   /*  change this for padding in the end of input */
    background: var(--input-bg);
    position: relative;
    border-radius: 4px;
  }
  
  .form label {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--height);
  }
  
  .form input {
    width: 100%;
    padding-inline-start: calc(var(--padding) + var(--gap));
    outline: none;
    background: none;
    border: 0;
  }
  /* style for both icons -- search,close */
  .form svg {
    /* display: block; */
    color: #111;
    transition: 0.3s cubic-bezier(.4,0,.2,1);
    position: absolute;
    height: 15px;
  }
  /* search icon */
  .icon {
    position: absolute;
    left: var(--padding);
    transition: 0.3s cubic-bezier(.4,0,.2,1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* arrow-icon*/
  .swap-off {
    transform: rotate(-80deg);
    opacity: 0;
    visibility: hidden;
  }
  /* close button */
  .close-btn {
    /* removing default bg of button */
    background: none;
    border: none;
    right: calc(var(--padding) - var(--gap));
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111;
    padding: 0.1em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: 0.3s;
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
  }
  
  .form input:focus ~ .icon {
    transform: rotate(var(--rotate)) scale(1.3);
  }
  
  .form input:focus ~ .icon .swap-off {
    opacity: 1;
    transform: rotate(-80deg);
    visibility: visible;
    color: var(--icon-change-color);
  }
  
  .form input:focus ~ .icon .swap-on {
    opacity: 0;
    visibility: visible;
  }
  
  .form input:valid ~ .icon {
    transform: scale(1.3) rotate(var(--rotate))
  }
  
  .form input:valid ~ .icon .swap-off {
    opacity: 1;
    visibility: visible;
    color: var(--icon-change-color);
  }
  
  .form input:valid ~ .icon .swap-on {
    opacity: 0;
    visibility: visible;
  }
  
  .form input:valid ~ .close-btn {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: 0s;
  }
  .nav-user-icon img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
  }
  .nav-user-icon{
    margin-left: 30px;
  }
  .online{
    position: relative;
  }
  .online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0px;
    right: 0px;

  }

  .container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
  }
  .left-side-bar{
        
        flex-basis: 25%;
        position: sticky;
        top: 70px;
        align-self: flex-start;
       
  }
  .right-side-bar{
    
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    color: #626262;
}
.main-content{
    flex-basis: 47%;
}
.imp-links a, .shortcut-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color:#626262;
    width: fit-content;
}
.imp-links a img{
    width: 25px;
    margin-right:15px ;
}
.imp-links a:last-child{
    color:#1876f2;
}
.imp-links{
    border-bottom: 1px solid #ccc;
}
.shortcut-links a img{
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}
.shortcut-links p{
    margin: 25px 0;
    color: #626262;
    font-weight: 500;
}
.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}
.sidebar-title h4{
    font-weight: 600;
    font-size: 16px;
}
.sidebar-title a{
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
}
.events{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}
.left-event{
    
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.right-event h4{
    font-weight: 600;
    font-size: 16px;
}
.events p{
    font-size: 12px;
}
.events a{
    font-size: 12px;
    text-decoration: none;
    color: #1876f2;
}
.left-event span{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: #1876f2;
    color: #fff;
    font-size: 10px;
    padding: 4px 0;
}
.ads{
    width:100%;
    border-radius: 4px;
    margin-bottom: 20px;
}
.online1{
    position: relative;
    
  }
  .online1::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0px;
    left: 30px;

  }
.online1-list .online1{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.online1-list .online1 img{
    width: 40px;
    border-radius: 50%;
    margin-right: 20px;
}
.story-gallery{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.story{
    
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-image:linear-gradient(transparent,rgba(0,0,0,0.5)), url('images/status-5.png');
    background-position: center;
    background-size: cover;
    border-radius: 10px;


}
.story img{
    position: absolute;
    width: 45px;
    border-radius: 50%;
    top:10px;
    left:10px;
    border: 5px solid #1876f2;
}
.story p{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
.story1{
    background-image:linear-gradient(transparent,rgba(0,0,0,0.5)), url('images/status-1.png');
}
.story2{
    background-image:linear-gradient(transparent,rgba(0,0,0,0.5)), url('images/status-2.png');
}
.story3{
    background-image:linear-gradient(transparent,rgba(0,0,0,0.5)), url('images/status-3.png');
}
.story4{
    background-image:linear-gradient(transparent,rgba(0,0,0,0.5)), url('images/status-4.png');
}
.write-post-container{
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
}
.user-profile{
    display: flex;
    align-items: center;
}
.user-profile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-profile p{
    margin-bottom: 3px;
    font-weight: 500;
    color: #626262;
}
.user-profile small{
    font-size: 12px;
    
}
.post-input-container{
    padding-left: 55px;
    padding-top: 20px;
}
.post-input-container textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}
.add-post-links{
    display: flex;
    margin-top: 10px;
}
.add-post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;
}
.add-post-links a img{
    width: 27px;
    margin-right: 10px;
}
.post-container{
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0px;
}
.user-profile span{
    font-size: 13px;
    color: #9a9a9a;
}
.post-text{
    color: #9a9a9a;
    margin: 15px 0px;
    font-size: 15px;
}
.post-text a{
    color: #1876f2;
    text-decoration: none;
}
.right-event h4,p,a{
    margin-bottom: 5px;
}
.post-img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}
.Btn {
    width: 140px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.089);
    cursor: pointer;
    background-color: transparent;
  }
  
  .leftContainer {
    width: 60%;
    height: 100%;
    background-color: #0060ff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  
  .leftContainer .like {
    color: white;
    font-weight: 600;
  }
  
  .likeCount {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0060ff;
    font-weight: 600;
    position: relative;
    background-color: white;
  }
  
  .likeCount::before {
    height: 8px;
    width: 8px;
    position: absolute;
    content: "";
    background-color: rgb(255, 255, 255);
    transform: rotate(45deg);
    left: -4px;
  }
  
  .Btn:hover .leftContainer {
    background-color: #1d4292;
  }
  
  .Btn:active .leftContainer {
    background-color: #072b7a;
  }
  
  .Btn:active .leftContainer svg {
    transform: scale(1.15);
    transform-origin: top;
  }
  .bookmarkBtn {
    width: 130px;
    height: 40px;
    border-radius: 40px;
    border: none;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.062);
  }
  
  .IconContainer {
    width: 30px;
    height: 30px;
    background-color: rgb(103, 74, 228);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .3s;
  }
  
  .icon {
    border-radius: 1px;
  }
  
  .text {
    height: 100%;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(26, 26, 26);
    z-index: 1;
    transition-duration: .3s;
    font-size: 1.04em;
    font-weight: 600;
  }
  
  .bookmarkBtn:hover .IconContainer {
    width: 120px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .bookmarkBtn:hover .text {
    transform: translate(10px);
    width: 0;
    font-size: 0;
    transition-duration: .3s;
  }
  
  .bookmarkBtn:active {
    transform: scale(0.95);
    transition-duration: .3s;
  }
  /* Cool share button made by: csozi | Website: english.csozi.hu*/

.buttons {
    position: relative;
    display: grid;
    place-items: center;
    height: fit-content;
    width: fit-content;
    transition: 0.3s;
    border-radius: 50%;
  }
  
  .buttons:hover {
    padding: 60px;
  }
  
  .buttons:hover .button {
    box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
  }
  
  .main-button {
    position: relative;
    display: grid;
    place-items: center;
    padding: 10px;
    border: none;
    background: #e8e8e8;
    box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
    border-radius: 50%;
    transition: 0.2s;
    z-index: 100;
  }
  
  .button {
    position: absolute;
    display: grid;
    place-items: center;
    padding: 10px;
    border: none;
    background: #e8e8e8;
    box-shadow: 5px 5px 12px rgba(202, 202, 202, 0), -5px -5px 12px rgba(255, 255, 255, 0);
    transition: 0.3s;
    border-radius: 50%;
  }
  
  .discord-button:hover {
    background: #5865F2;
  }
  
  .buttons:hover .discord-button {
    translate: 70px 0px;
    box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
  }
  
  .twitter-button:hover {
    background: #1CA1F1;
  }
  
  .buttons:hover .twitter-button {
    translate: 47px -47px;
    box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
  }
  
  .reddit-button:hover {
    background: #FF4500;
  }
  
  .buttons:hover .reddit-button {
    translate: 0px -70px;
    box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
  }
  
  .messenger-button:hover {
    background: #0093FF;
  }
  
  .buttons:hover .messenger-button {
    translate: -47px -47px;
    box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
  }
  
  .pinterest-button:hover {
    background: #F0002A;
  }
  
  .buttons:hover .pinterest-button {
    translate: -70px 0px;
    box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
  }
  
  .instagram-button:hover {
    background: #F914AF;
  }
  
  .buttons:hover .instagram-button {
    translate: -47px 47px;
    box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
  }
  
  .snapchat-button:hover {
    background: #FFFC00;
  }
  
  .buttons:hover .snapchat-button {
    translate: 0px 70px;
    box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
  }
  
  .whatsapp-button:hover {
    background: #25D366;
  }
  
  .buttons:hover .whatsapp-button {
    translate: 47px 47px;
    box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
  }
  .post-row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
  }
  .post-row1 a{
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 600px;
    bottom: 40px;
    text-decoration: none;
  }
  .load-more{
    display: block;
    margin: auto;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #9a9a9a;
    color: #626262;
    background: transparent;
    border-radius: 4px;
  }
  .footer{
    text-align: center;
    color: #9a9a9a;
    padding: 10px 0 20px;
    font-size: 13px;
  }
  .input {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: #0D1117;
    justify-content: center;
    border-radius: 5px
  }
  
  .value {
    background-color: transparent;
    border: none;
    padding: 10px;
    color: white;
    display: flex;
    position: relative;
    gap: 5px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .value:not(:active):hover,
  .value:focus {
    background-color: #21262C;
  }
  
  .value:focus,
  .value:active {
    background-color: #1A1F24;
    outline: none;
  }
  
  .value::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -10px;
    width: 5px;
    height: 80%;
    background-color: #2F81F7;
    border-radius: 5px;
    opacity: 0;
  }
  
  .value:focus::before,
  .value:active::before {
    opacity: 1;
  }
  
  .value svg {
    width: 15px
  }

 .profile-container{
   
   padding: 20px 15%;
   color: #626262;
 }
 .cover-img{
  width: 100%;
  border-radius: 7px;
  margin-bottom: 14px;
 }
 .profile-details{
  padding: 20px;
  border-radius: 4px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
 }
 .pd-row{
  display: flex;
  align-items: flex-start;
 }
 .pd-img{
  width: 100px;
  margin-right: 20px;
  border-radius: 6px;
 }
 .pd-row div h3{
  font-size: 25px;
  font-weight: 600;
 }
 .pd-row div p{
  font-size: 13px;
 }
 .pd-row div img{
  width: 25px;
  border-radius: 50%;
  margin-top: 12px;
 }
 .pd-right button{
  background: #1876f2;
  border: 0px;
  outline: 0px;
  padding: 6px 7px;
  align-items: center;
  color: #fff;
  border-radius: 3px;
  margin-left: 10px;
  cursor: pointer;
 }
 .pd-right button:first-child{
  background: #e4e6eb;
  color: #000;
 }
 .pd-right{
  text-align: right;
 }
 .pd-right a{
  background: #e4e6eb;
  border-radius: 3px;
  padding: 12px;
  display: inline-flex;
  margin-top: 30px;
 }
.pd-right a img{
  width: 20px;
}
.pd-right button img{
  width: 20px;
  margin-right: 10px;
}
.profile-info{
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  margin-top: 20px;
}
.info-col{
  flex-basis: 33%;
}
.post-col{
  flex-basis: 65%;
}
.profile-intro{
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
}
.profile-intro h3{
  font-weight: 600;
}

.intro-text{
  text-align: center;
  margin: 10px 0px;
  font-size: 15px;
}
.intro-text img{
  width: 20px;
  margin-bottom: -3px;
}
.profile-intro hr{
  border: 0px;
  height: 1px;
  background: #ccc;
  margin: 24px 0px;
}
.profile-intro ul li{
  list-style: none;
  font-size: 15px;
  margin: 15px 0px;
  display: flex;
  align-items: center;
}
.profile-intro ul li img{
  width: 26px;
  margin-right: 10px;
}
.title-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-box a{
  text-decoration: none;
  color: #1876f2;
  font-size: 14px;
}

.photo-box{
  display: grid;
  grid-template-columns: repeat(3,auto);
  grid-gap: 10px;
  margin-top: 15px;
}
.photo-box div img{
  width: 100%;
  cursor: pointer;
}
.profile-intro p{
  font-size: 14px;
}
.friends-box{
  display: grid;
  grid-template-columns: repeat(3,auto);
  grid-gap: 10px;
  margin-top: 15px;
}
.friends-box div img{
  width: 100%;
  cursor: pointer;
}
.main-button1{
  background-color: #0093FF;
  z-index: -100;
}
nav{
  z-index: 200;
}

@media (max-width: 900px) {
  .profile-container{
    padding: 20px 5%;
  }
  .profile-details{
    flex-wrap: wrap;
  }
  .pd-right{
    text-align: left;
    margin-top: 15px;
  }
  .pd-right button{
    margin-left: 0px;
    margin-right: 10px;
  }
}


  
   


